name: Build trips service

on:
  push:
    branches:
    - master
    paths:
    - 'apis/trips/**'

env:
  working-directory: ./apis/trips/
  acrname: openhackdz41qgg3acr.azurecr.io
  appname: openhackdz41qgg3trips
  image_tag: ${{ github.run_id }}
  staging_url: https://openhackdz41qgg3trips-staging.azurewebsites.net/api/healthcheck/trips
  production-url: https://openhackdz41qgg3trips.azurewebsites.net/api/healthcheck/trips
  rg: openhackdz41qgg3rg

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
                    
      - name: Run build
        run: az acr build --image "devopsoh/api-trips:${{ env.image_tag }}" --registry ${{ env.acrname }} --file Dockerfile .
        working-directory: ${{env.working-directory}}

      - name: The job has failed
        if: ${{ failure() }}
        run: |
          curl --request POST \
            --url https://api.github.com/repos/${{ github.repository }}/issues \
            --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            --header 'content-type: application/json' \
            --data '{
              "title": "Trips Service Build has failed: ${{ github.run_id }}",
              "body": "Trips Service Build has failed: **${{ github.workflow }}**. \n\n Failure in run: _${{ github.run_id }}_."
              }'

  deploy-staging:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
                    
      - name: WebApp deploy
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.appname }}
          slot-name: staging
          images: ${{ env.acrname }}/devopsoh/api-trips:${{ env.image_tag }}

      - name: Test staging
        run: ./tools/healthcheck.sh ${{ env.staging_url }}
        shell: bash

      - name: The job has failed
        if: ${{ failure() }}
        run: |
          curl --request POST \
            --url https://api.github.com/repos/${{ github.repository }}/issues \
            --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            --header 'content-type: application/json' \
            --data '{
              "title": "Trips Service Staging Deploy has failed: ${{ github.run_id }}",
              "body": "Trips Service Staging Deploy has failed: **${{ github.workflow }}**. \n\n Failure in run: _${{ github.run_id }}_."
              }'

  deploy-prod:
    needs: [build, deploy-staging]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
             
      - name: Rollback Prod->Staging
        if: ${{ failure() }}
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az webapp deployment slot swap \
              -g ${{ env.rg }} \
              -n ${{ env.appname }} \
              --slot staging \
              --target-slot production

      - name: Test production
        run: ./tools/healthcheck.sh ${{ env.production_url }}
        shell: bash

      - name: Rollback Prod->Staging
        if: ${{ failure() }}
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az webapp deployment slot swap \
              -g ${{ env.rg }} \
              -n ${{ env.appname }} \
              --slot production \
              --target-slot staging

      - name: The job has failed
        if: ${{ failure() }}
        run: |
          curl --request POST \
            --url https://api.github.com/repos/${{ github.repository }}/issues \
            --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            --header 'content-type: application/json' \
            --data '{
              "title": "Trips Service Production Deploy has failed: ${{ github.run_id }}",
              "body": "Trips Service Production Deploy has failed: **${{ github.workflow }}**. \n\n Failure in run: _${{ github.run_id }}_."
              }'
